@{
    ViewBag.Title = "Profile";
}

<ion-view view-title="<b >Xe Đưa Đón</b>">
    <ion-content style="background-color:#edeef0">
        <ion-scroll direction="y" class="theroot">
            <select id="ddlCat" ng-model="ddlCat" ng-init="ddlCat='-1'" style="width:100%;height:30px;background-color:#eaebed;margin-top:4px;margin-bottom:3px" ng-model="ddlCat" ng-change="ChooseLocalEvent(ddlCat)">
                <option value="-1">Choose Category</option>
                <option ng-repeat="option in lstCat" value="{{option.eventCategory}}">{{option.eventCategoryName}}</option>
            </select>
            <div style="position:relative">
                <div class="localevent-header"><b>{{item.name}}</b></div>
                <span>
                    <img src="{{item.imagePath}}" height="200" width="100%" />
                </span>
            </div>
            <div style="color:gray">
                <b style="color:#37b997">Description:</b>
                {{item.description}}
                <span style="color:red">Read More</span>
               <div style="background-color:white">
                   <ul class="localevent-contact">
                       <li class="place" style="height:40px;overflow:hidden">
                           {{item.address}}
                       </li>
                       <li class="time">
                           {{item.openTime}} - {{item.closeTime}}
                       </li>
                       <li class="call">
                           {{item.phone}}
                       </li>
                       <li class="price">
                           {{item.price}}
                       </li>
                   </ul>

               </div>
            </div>
            <input type="button" value="Book Now" style="margin-left:10%;margin-top:10px;" class="btn-usecar" />
        </ion-scroll>
    </ion-content>
</ion-view>
<style>
    .localevent-contact{
        margin-top:10px;
        margin-left:5px;
        margin-right:5px;
    }
    .localevent-contact li{
    line-height:38px;
    padding-left:40px;
    background-color:white;
    }
    .place{
        background:url(/img/icons/icon-local.png) no-repeat 10px center;
    }
    .time{
        border-top:#c4c3c9 solid 1px;
        border-bottom:#c4c3c9 solid 1px;
        background:url(/img/icons/icon-clock.png) no-repeat 10px center;
    }
    .call{
        border-bottom:#c4c3c9 solid 1px;
        background:url(/img/icons/icon-call.png) no-repeat 10px center;
    }
    .price{
        background:url(/img/icons/icon-money.png) no-repeat 10px center;
    }
    .localevent-header{
        position: absolute;
        top: 0px;
        left: 0;
        background-color: #37b997;
        height: 40px;
        width: 100%;
        padding-left: 10px;
    }
        .localevent-header b {
        line-height:40px;
        color:#fff;
        }
    .theroot {
        height: 100%;
    }
</style>
