@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="/lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/drawer.css">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!-- ionic/angularjs js -->
    <script src="/lib/ionic/js/ionic.bundle.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    @*<script src="cordova.js"></script>*@
    <!-- your app's js -->
    @*<script src="/scripts/ios/cordova.js"></script>
    <script src="/scripts/ios/cordova_plugins.js"></script>*@

    <!-- your app's js -->
    <script src="/js/map/lodash.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places,geometry"></script>
    <script src="/js/map/tommyGoogleMaps.js"></script>
    <script src="/js/app.js?v=1"></script>
    <script src="/js/drawer.js?v=123"></script>
    <script src="/Areas/Profile/JSController/LoginController.js?v=@DateTime.Now.ToString("ddMMyyHHmmss")"></script>
    <script src="/Areas/Profile/JSController/ProfileController.js?v=@DateTime.Now.ToString("ddMMyyHHmmss")"></script>
    <script src="/Areas/Ride/JSController/RideController.js?v=@DateTime.Now.ToString("ddMMyyHHmmss")"></script>
    <script src="/Areas/Ride/JSController/EstimateFareController.js?v=@DateTime.Now.ToString("ddMMyyHHmmss")"></script>
    <script src="/Areas/Airport/JSController/AirportController.js?v=@DateTime.Now.ToString("ddMMyyHHmmss")"></script>
    <script src="/Areas/MyTrip/JSController/MyTripController.js?v=@DateTime.Now.ToString("ddMMyyHHmmss")"></script>
    <script src="/Areas/Ride/JSController/FreeRideController.js?v=@DateTime.Now.ToString("ddMMyyHHmmss")"></script>
    <script src="/Areas/Payment/JSController/PaymentController.js?v=@DateTime.Now.ToString("ddMMyyHHmmss")"></script>
    <script src="/Areas/LocalEvent/JSController/LocalEventController.js?v=@DateTime.Now.ToString("ddMMyyHHmmss")"></script>
    <script src="/Areas/LocalEvent/JSController/DetailController.js?v=@DateTime.Now.ToString("ddMMyyHHmmss")"></script>
    <script src="/Areas/Ride/JSController/RideEstimatefareController.js?v=@DateTime.Now.ToString("ddMMyyHHmmss")"></script>
    <script src="/js/controllers.js?v=@DateTime.Now.ToString("ddMMyyHHmmss")"></script>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/helper.js?v=@DateTime.Now.ToString("ddMMyyHHmmss")"></script>
    <!-- google maps javascript -->
    @*<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyB16sGmIekuGIvYOfNoW9T44377IU2d2Es&sensor=true"></script>*@
    
 
    <style>
        #map {
            width: 100%;
            height: 100%;
        }

        .scroll {
            height: 100%;
        }

        .bar-stable.nav-title-slide-ios7.has-tabs-top.nav-bar-container.hide {
            display: block !important;
        }
        .title{
            font-size:16px!important;
        }
    </style>

</head>
<body ng-app="starter">
    
    <ion-nav-view>

    </ion-nav-view>
    
    @*<ion-view title="Ionic App">

        </ion-view>*@
</body>


</html>
