
    <ion-header-bar align-title="center" style="background-color:#44afb9;color:#fff;text-align:center;height:60px">
        <div style="margin-top:18px">
            <button class="button button-icon button-clear ion-home" onclick="window.location.href='#/app/homecreen'" style="color:#fff;position:relative;top:-2px"></button>
            <center style="margin-top:5px;width:100%;font-size:14px">Sign Up</center>
        </div>
</ion-header-bar>
    <ion-content style="background-color:#f5f2f9;">
        <div style="position:relative;height:100vh">
            <div style="background-color:#fff;text-align:center">
                <span style="line-height:40px;color:#4fbee6">Rider</span>
            </div>
            <input style="display:none" type="button" value="SIGNUP VIA FACEBOOK" class="signup-facebook" />

            <div class="or" style="display:none">
                <span>OR</span>
            </div>
            <div style="width:100%;margin-top:35px">
                <table width="100%" class="signup">
                    <tr>
                        <td><select ng-model="ddlCountry" id="ddlCountry" ng-init="ddlCountry='VN'" style="border:none;width:100%;height:39px;color:#b1b1b1">
    <option ng-repeat="option in Countrys.results" value="{{option.value}}">{{option.text}}</option>
</select></td>
                    </tr>
                    <tr>
                        <td><input placeholder="Email" ng-model="txtEmail" id="txtEmail" /></td>
                    </tr>
                    <tr>
                        <td><input type="tel" maxlength="12" placeholder="Phone" ng-model="txtPhone" id ="txtPhone" /></td>
                    </tr>
                    <tr>
                        <td><input placeholder="First Name" maxlength="100" ng-model="txtFirstName" id="txtFirstName" /></td>
                    </tr>
                    <tr>
                        <td><input placeholder="Last Name" maxlength="100" ng-model="txtLastName" id="txtLastName" /></td>
                    </tr>
                    <tr>
                        <td><input placeholder="Password" maxlength="20" ng-model="txtPassword" id="txtPassword" type="password" /></td>
                    </tr>
                </table>

            </div>
            <input type="button" value="SignUp" class="btn-signup" ng-click="Save()" />
        </div>

</ion-content>
<style>
.signup-facebook {
    background-color:#4fbee6;
    color:white;
    height:35px;
    width:80%;
    margin-left:10%;
    border:none;
    margin-top:40px;
    margin-bottom:15px;
}
.signup input {
    border:none;
    width:100%;
    background-color:white;
    margin-top:1px!important;
    height:35px;
    padding-left:5px;
}
.lbl {
    margin-left:5px;
        }
.or {
    background:url(/img/icons/bg_or.png)repeat-x center;
    height:60px;
    text-align:center;
}
.or span {
    /*background-color:#4fbee6;*/
    position:relative;
    top:19px;
}
.btn-signup {
    background-color:#4fbee6;
    color:white;
    height:35px;
    width:80%;
    margin-left:10%;
    border:none;
    margin-top:30px;
}
</style>
