<ion-content style="background:url(/img/bg_2.png) center;background-size:auto 100%">
    <div style="position:relative;height:100vh">
        
        <input type="button" value="Driver" class="btn-driver-signup" onclick="window.location='#/app/signupdriver'" />
        <input type="button" value="Rider" class="btn-rider-signup" onclick="window.location='#/app/signup'" />
    </div>
    <style type="text/css">
    .btn-rider-signup {
        background-color: #43afbc;
        color: white;
        height: 35px;
        width: 80%;
        margin-left: 10%;
        border: none;
        position: absolute;
        bottom: 41px;
    }
    .btn-driver-signup {
        background-color: #48ccaa;
        color: white;
        height: 35px;
        width: 80%;
        margin-left: 10%;
        border: none;
        position: absolute;
        bottom: 101px;
    }
    </style>
</ion-content>