<ion-view view-title="Xe Đưa Đón">
    <ion-content>
        <ion-refresher on-refresh="doRefresh()">

        </ion-refresher>

<div style="max-width:500px;margin-left:5px">
    <table style="margin-top:10px;margin-left:5px;">
        <tr>
            <td style="width:80px">
                Pickup
            </td>
            <td>
                <input placeholder="current location" />
            </td>
        </tr>
        <tr>
            <td>
                Dropoff
            </td>
            <td>
                <input style="margin-top:5px;" />
            </td>
        </tr>
    </table>

    <div style="margin-top:20px;margin-left:10px">
        <center>
            <div style="color:red">Estimate Ride Fare</div>
            <div>
                <i class="ion-social-usd"></i>
                <u style="color:blue"><b>3600</b></u>
            </div>
            <center>
            <table >
                <tr>
                <td style="text-align:left">
                    <nobr>
                        <i style="color:gray" class="ion-android-happy"></i>
                        <span style="position:relative;left:-5px;top:-2px">Tien Nguyen</span>
                        <i class="ion-ios-star" style="color:#e6b400"></i>
                        <i class="ion-ios-star" style="color:#e6b400"></i>
                        <i class="ion-ios-star-half" style="color:#e6b400"></i>
                    </nobr>
                </td>
                </tr>
                <tr>
                    <td style="text-align:left">
                        <i style="color:gray" class="ion-android-car"></i>
                        <span style="position:relative;left:-5px;top:-2px">Toyota Camry</span>
                    </td>
                </tr>
            </table>
           </center>
        </center>
    </div>
</div>
      
    </ion-content>
</ion-view>