<ion-view view-title="Xe Đưa Đón">
    <ion-content>
        <ion-refresher on-refresh="doRefresh()">

        </ion-refresher>

        <div style="max-width:500px;margin-left:5px">

            <table style="margin-top:0;width:100%;background-color:#fff">
                <tr style="border-bottom:#d9d9d9 solid 1px;height:40px">
                    <td width="80">
                        <span style="line-height:40px;margin-left:5px;color:gray">Back</span>
                    </td>
                    <td >
                        <center><b style="color:#49ccaa;line-height:40px">REQUEST RIDER</b></center>
                    </td>
                </tr>
                <tr style="border-bottom:#d9d9d9 solid 1px;height:40px">
                    <td>
                        <div style="position:relative;left:8px">Dropoff</div>
                    </td>
                    <td>
                        <input style="padding-left:5px;margin-top:6px;height:26px;width:100%;background-color:#eaebed;border:none" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" height="300">

                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <center>
                            <span style="line-height:40px">
                                Estimate 2 minutes arrival
                            </span>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div style="background-color:#49ccaa">
                            <img src="~/img/avatar.jpg" height="30" width="30" style="position:relative;top:8px;left:9px"/>
                            <span style="margin-left:10px;line-height:40px;color:#fff">Tien Nguyen</span>
                            <div style="float:right;margin-right:5px;margin-top:13px;color:white">
                               <img src="~/img/icons/icon-car.png" style="margin-right:5px;position:relative;bottom:0"/> Kia Morning
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            
        </div>

    </ion-content>
</ion-view>