<ion-view view-title="Xe Đưa Đón">
    <ion-content>
        <ion-refresher on-refresh="doRefresh()"></ion-refresher>
        <h1>em gan map cua e vo day nhu design ma anh voi e da thao luan nhe</h1>
</ion-content>
</ion-view>