<ion-view view-title="Xe Đưa Đón">
    <ion-content>
        @*<ion-refresher on-refresh="doRefresh()"></ion-refresher>*@
        @*<input type="text" disable-tap style="width:100%; border:1px solid #cfcfcf; padding-left:10px;" tommy-address-autocomplete ng-model="result1" options="options" details="details1" />
            <button ng-click="Caculate(result1)"></button>
            {{distance}} - {{duration}}*@

        @*<div style="width:100%;height:300px;" id="map_canvas" data-tap-disabled="true"></div>*@
        @*<input type="text" disable-tap style="width:100%; border:1px solid #cfcfcf; padding-left:10px;" tommy-address-autocomplete ng-model="result1" options="options" details="details1" />*@
        @*<button ng-click="OnBlur(details1)">Search</button>*@
        @*{{details1}}*@
        @*<div id="map-canvas" data-tap-disabled="true" style="height:100%; width:100%;"></div>*@



        <div style="margin-top:15px;color:#fff;padding-bottom:80px" >
            
            <div style="margin-top:10px" ng-repeat="objTrip in lstTrip">
                <div style="position:relative;height:40px;background-color:#49ccaa">
                    <img src="{{objTrip.driver.imagePath}}" height="60" style="position:absolute;top:-10px;left:10px" />
                    <div style="float:left;margin-left:90px">
                        <div>
                            {{objTrip.pickupDateTime}}
                        </div>
                        <div>
                            {{objTrip.driver.firstName + " "+ objTrip.driver.lastName}} ({{objTrip.carModel.carMake.name}})
                        </div>
                    </div>
                    <div style="float:right;margin-top:11px;margin-right:10px">
                        {{objTrip.realPrice}}{{objTrip.currency}}
                    </div>
                </div>
                <img src="{{objTrip.imagePath}}" width="100%" height="250">
            </div>
        </div>


    </ion-content>
</ion-view>