<!--<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
      <ion-nav-bar class="bar-stable" style="">
          <ion-nav-back-button hide-back-button="true">
          </ion-nav-back-button>
          <ion-nav-buttons side="left">
              <button class="button button-icon button-clear ion-gear-b" menu-toggle="left" style="color:#fff"></button>
          </ion-nav-buttons>
          <ion-nav-buttons side="right">
              <img src="/img/icons/logout.png" width="34" height="19" style="margin-top:7px" onclick="window.location.href='/index/TemplateWelcome#/app/welcome'" />

          </ion-nav-buttons>
      </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" id="leftMenu">
    <ion-header-bar class="bar-stable" style="background-color:#ddd" >
        <h1  class="title" style="color:white"> Setting</h1>
    </ion-header-bar>
    <ion-content id="contentMenu">
      <ion-list>
          <ion-item menu-close id="menuProfile" href="#/app/profile">
              Profile
          </ion-item>
          <ion-item menu-close id="menuMyTrip" href="#/app/mytrip">
              My Strips
          </ion-item>
          <ion-item menu-close id="menuFreeRide" href="#app/freeride">
              Free Rides
          </ion-item>
          <ion-item menu-close id="menuPayment" href="#app/payment">
              Payment
          </ion-item>
          <ion-item  menu-close >
              Verifycation
          </ion-item>
          <ion-item menu-close href="/index/TemplateWelcome#/app/welcome">
             Log out
          </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>-->
<ion-side-menus>
    <!-- Center content -->
    <ion-nav-bar class="bar-positive nav-title-slide-ios7 has-tabs-top">
        <ion-nav-buttons side="left">
            <ion-header-bar class="bar-stable" style="background-color:#ddd">
                <h1 class="title" style="color:white"> Setting</h1>
            </ion-header-bar>
            <button class="button button-icon button-clear ion-gear-b" style="float:right" ng-click="toggleDrawer()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <!--<ion-side-menu-content>
        <ion-nav-bar class="bar-stable" style="">
            <ion-nav-back-button hide-back-button="true">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-gear-b" ng-click="toggleDrawer()" menu-toggle="left" style="color:#fff"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <img src="/img/icons/logout.png" width="26" height="26" style="margin-top:4px" onclick="window.location.href='/index/TemplateWelcome#/app/welcome'" />
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>-->
    <ion-side-menu-content>
      
        <ion-nav-bar class="bar-stable bar-positive nav-title-slide-ios7 has-tabs-top" style="">
            <ion-nav-back-button hide-back-button="true">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-gear-b" ng-click="toggleDrawer()" menu-toggle="left" style="color:#fff"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <img src="/img/icons/logout.png" class="logout" onclick="window.location.href='/index/TemplateWelcome#/app/welcome'" />
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
        <!--<ion-view title="Ionic App" name="menuContent">
            <ion-content>

            </ion-content>
        </ion-view>-->
        <div id="loading" style="position:absolute;top:0;left:0;height:100vh;width:100%;background-color:gray;opacity:0.8;z-index:9999999999;display:none">
            <img src="/img/icons/loading.gif" width="50" height="50" style="position:absolute;left:50%;top:50%;margin-left:-25px;margin-top:-25px;" />
        </div>
    </ion-side-menu-content>

    <!-- Left menu -->
    <drawer side="left">
        <!--<ion-nav-bar class="bar-stable nav-title-slide-ios7 has-tabs-top">
            <ion-nav-buttons side="left">
                <button class="button button-icon icon ion-navicon" ng-click="toggleDrawer()"></button>
            </ion-nav-buttons>
            <ion-header-bar class="bar-stable" style="background-color:#ddd">
                <h1 class="title" style="color:white"> Setting</h1>
            </ion-header-bar>
        </ion-nav-bar>-->
        <ion-nav-bar class="bar-stable nav-title-slide-ios7 has-tabs-top">
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-gear-b" style="color:#fff"  ng-click="toggleDrawer()"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-view title="Menu">
            <ion-content style="margin-top:60px;">
                <ion-list>
                    <ion-item menu-close id="menuProfile" ng-click="toggleDrawer()" href="#/app/profile">
                        Profile
                    </ion-item>
                    <ion-item menu-close id="menuMyTrip" ng-click="toggleDrawer()" href="#app/mytrip">
                        My Strips
                    </ion-item>
                    <ion-item menu-close id="menuFreeRide" ng-click="toggleDrawer()" href="#app/freeride">
                        Free Rides
                    </ion-item>
                    <ion-item menu-close  ng-click="toggleDrawer()" href="#app/payment">
                        Payment
                    </ion-item>
                    <ion-item menu-close href="#" ng-click="toggleDrawer()">
                        Verifycation
                    </ion-item>
                    <ion-item menu-close ng-click="toggleDrawer()" href="/index/TemplateWelcome#/app/welcome">
                        Log out
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-view>
    </drawer>
</ion-side-menus>
<ion-footer-bar class="bar bar-footer" style="height:60px;background-color:#48ccaa">
    <table class="icon-footer" style="margin-bottom:5px;">
        <tr>
            <td>
                <span id="1" style="margin-top:3px" ng-click="FooterMenuActive($event,1)"><img src="/img/icons/icon-mystrip.png"  height="35" /></span>
                <span class="icon-text"> My Trip</span>
</td>
            <td>
                <span id="2" ng-click="FooterMenuActive($event,2)"><img src="/img/icons/icon-local-event.png"  height="35" /></span>
                <span class="icon-text">Local Event</span>
</td>
            <td>
                <span id="3" ng-click="FooterMenuActive($event,3)"><img src="/img/icons/icon-rider.png"  height="35" /></span>
                <span class="icon-text">Ride</span>
</td>
            <td>
                <span id="4" ><img src="/img/icons/icon-airport.png"  height="35" /></span>
                <span class="icon-text">Airport Service</span>
</td>
            <td>
                <span id="5" ng-click="FooterMenuActive($event,5)"><img src="/img/icons/icon-plan.png"  height="35" /></span>
                <span class="icon-text">Plan</span>
</td>
        </tr>
    </table>
</ion-footer-bar>
<style type="text/css">
    body, div, a, table, table,input {
        font-family:Arial!important;
        font-size:12px!important;
    }
    .header-item {
        color:white !important;
    }
    .icon-footer td {
        position:relative;
    }
    .icon-footer span{
        display:block;
        color:white;
        /*position:absolute;
        left:11px;
        border: #ddd solid 3px;
        border-radius: 9px;
        padding:3px;
        padding-bottom:0;*/
    }
    .icon-footer {
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        position:relative;
        bottom:5px;
    }
    .icon-text {
        position:relative;
        bottom:5px;
    }
    .bar-header {
    background-color:#48ccaa!important;
    }
    i {color:gray;margin-right:6px;
    }
    .active {
        /*border: gray solid 3px!important;
        border-radius: 9px;
        padding:3px;*/
    }
    .logout {
        margin-top: 6px;
        margin-right: 10px;
        width: 32px;
        height: 20px;
    }
</style>