<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
      <!--<ion-nav-bar class="bar-stable" style="">
          <ion-nav-back-button>
          </ion-nav-back-button>
      </ion-nav-bar>-->
    <ion-nav-view name="TemplateWelCome"></ion-nav-view>
      <div id="loading" style="position:absolute;top:0;left:0;height:100vh;width:100%;background-color:gray;opacity:0.8;z-index:9999999999;display:none">
          <img src="/img/icons/loading.gif" width="50" height="50" style="position:absolute;left:50%;top:50%;margin-left:-25px;margin-top:-25px;" />
      </div>
  </ion-side-menu-content>

</ion-side-menus>
